.search-bar{
    width: 25%;
    height: 2rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 1rem !important; 
    margin-bottom: 10px !important;

}
.search-icon{
    color: #0090ff;
    margin-left: 1em !important; 
}
.search-input {
    width: 100%;
    border: none;  
}
.filter-button {
    height: 40px !important;
    margin-left: 1rem !important;
}
.filter-icon {
    margin-right: 1rem !important;
}
.column-icon {
    margin-right: 1rem !important;
    color: #0090ff;
}
.column-button {
    margin-left: 1rem !important;
}
.column-text {
    color: #0090ff;
}