.btn {
    padding-left: 1em !important;
    padding-right: 1em !important;

}
.balance {
    color: #0090ff;
}
.movements-div{
    margin-top: 1rem !important;
}
.movements-icon{
    background-color: #b5d5ee;
    border-radius: 8%;
    color:#0090ff;
    margin-right: 1rem !important;
}